# ignore .json files
*.json

# ignore vscode directory
.vscode/

# ignore pycache directory
__pycache__/

# ignore helpers directory
helpers/

# ignore .csv files
# *.csv

# ignore .txt files
*.txt

# ignore my personal files
urls_processor_rsm.ipynb

# ignore backup directory
backup/